<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="structure-form(aggregateName)">
    <form th:action="${@environment.getProperty('route.getDatabaseContent')}">
        <input type="hidden" name="aggregate" th:value="${aggregateName}"/>
        <input type="submit" value="Structure" class="btn btn-primary"/>
    </form>
</div>
<div th:fragment="delete-form(aggregateName)">
    <form th:action="${@environment.getProperty('route.getDatabaseContent')}">
        <input type="hidden" name="aggregate" th:value="${aggregateName}"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
    </form>
</div>
</body>
</html>