<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="data-row(data)">

    <div class="row">
        <div class="col-md">
            <div class="panel panel-modal-style">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <div class="active" id="show-data-structure-row-form-link">
                                <strong th:text="${data.tableName} + ' - create'"></strong>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="create-table-form"
                                  th:action="${@environment.getProperty('route.create[trigger]')}" method="post"
                                  role="form">
                                <div class="form-group">
                                    <label style="width: 100%;">
                                        Table Name:
                                        <select class="form-control" name="tableName" id="add-trigger-select-table"></select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label style="width: 100%;">
                                        Trigger name:
                                        <input type="text" class="form-control" name="triggerName"/>
                                    </label>
                                </div>
                                <script th:inline="javascript">
                                    var triggers = /*[[${@environment.getProperty('database.triggers')}]]*/ null;
                                </script>
                                <div class="form-group">
                                    <label style="width: 100%;">
                                        Choose a Trigger:
                                        <select class="form-control" id="triggers-create-select" name="triggerClass"></select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-success" style="width: 100%">Create Trigger</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>