<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="data-row(data)">

    <div class="row">
        <div class="col-md">
            <div class="panel panel-modal-style">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <div class="active" id="show-data-structure-row-form-link">
                                <strong th:text="${data.tableName} + ' - create'"></strong>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="create-table-form"
                                  th:action="${@environment.getProperty('route.alterTableStructure')}" method="post"
                                  role="form">
                                <input type="hidden" name="requestType" th:value="'columns@add'">
                                <div class="form-group">
                                    <label style="width: 100%;">
                                        Table Name:
                                        <select class="form-control" name="tableName" id="add-column-select-table"></select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label style="width: 100%;">
                                        Column(s) definitions (use ',' as separator):
                                        <textarea class="form-control" name="columnsDefinitions"></textarea>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-success" style="width: 100%">Create Column(s)</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>