<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="data-row(data,type,action)">

    <div class="row">
        <div class="col-md">
            <div class="panel panel-modal-style">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <div class="active" id="show-data-structure-row-form-link">
                                <strong th:text="${data.tableName} + ' - structure'"></strong>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 1em;" class="alert alert-info"
                               th:text="#{database.keyspaces.tableData.showRow.topInfo}"></p>
                            <form id="show-data-structure-row-form"
                                  th:action="${action}" method="post"
                                  role="form">
                                <input th:if="${type=='tables'}" type="hidden" name="requestType" th:value="'options'"/>
                                <input th:if="${type=='views'}" type="hidden" th:value="'views@options'" name="requestType" />
                                <input th:if="${type=='columns'}" type="hidden" name="requestType"
                                       th:value="'columns'"/>
                                <th:block th:each="column:${data.columnDefinitions}">
                                    <th:block th:each="mapColumn:${systemSchemaContent.columns.content}">
                                        <th:block
                                                th:if="${mapColumn.get('column_name') == column.name && mapColumn.get('table_name') == data.tableName}">
                                            <div class="row row-eq-height">
                                                <div class="col-sm-5">
                                                    <ul class="list-group">
                                                        <li class="list-group-item text-right" style="overflow: auto">
                                                        <span class="pull-left">
                                                            <strong>Name</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('column_name')}"></span>
                                                        </li>
                                                        <li class="list-group-item text-right" style="overflow: auto">
                                                        <span class="pull-left">
                                                            <strong>Type</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('type')}"></span>
                                                        </li>
                                                        <li class="list-group-item text-right">
                                                        <span class="pull-left">
                                                            <strong>Kind</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('kind')}"></span>
                                                        </li>
                                                        <li class="list-group-item text-right"
                                                            th:if="${mapColumn.get('position') != -1}">
                                                        <span class="pull-left">
                                                            <strong>Position</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('position')}"></span>
                                                        </li>
                                                        <li class="list-group-item text-right"
                                                            th:if="${mapColumn.get('clustering_order') != 'none'}">
                                                        <span class="pull-left">
                                                            <strong>Clustering Order</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('clustering_order')}"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-7" style="overflow: auto">
                                                    <textarea class="form-control"
                                                              th:name="${mapColumn.get('column_name')+'_readonly'}"
                                                              readonly rows="3"></textarea>
                                                    <th:block th:switch="${type}">
                                                        <th:block th:case="'columns'"
                                                                  th:with="message=#{database.keyspaces.columnsData.showRow.textareaPlaceholder}">
                                                            <textarea th:if="${mapColumn.get('column_name') ==
                                                            'column_name' || mapColumn.get('column_name') == 'type'}"
                                                                      class="form-control" rows="3"
                                                                      th:name="${mapColumn.get('column_name')}"
                                                                      th:placeholder="${mapColumn.get('column_name') !=
                                                            'column_name' && mapColumn.get('column_name') != 'type' ? 'This field cannot be updated!' : message}"
                                                            ></textarea>
                                                        </th:block>
                                                        <th:block th:case="'types'">
                                                            <textarea
                                                                    th:if="${mapColumn.get('column_name') == 'field_names'}"
                                                                    class="form-control" rows="3"
                                                                    th:name="${mapColumn.get('column_name')}"
                                                                    th:placeholder="#{database.keyspaces.typeData.showRow.textareaPlaceholder}"></textarea>
                                                        </th:block>
                                                        <th:block th:case="*"
                                                                  th:with="message=#{database.keyspaces.tableData.showRow.textareaPlaceholder}">
                                                            <textarea class="form-control" rows="3"
                                                                      th:name="${mapColumn.get('column_name')}"
                                                                      th:readonly="${mapColumn.get('kind') != 'regular'}"
                                                                      th:placeholder="${mapColumn.get('kind') == 'regular' ? message  : 'Partition key and clustering key cannot be update!'}"></textarea>
                                                        </th:block>
                                                    </th:block>

                                                </div>
                                            </div>
                                            <hr/>
                                        </th:block>
                                    </th:block>
                                </th:block>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="from-group">
                                            <button style="width: 100%;"
                                                    th:id="'data-structure-update-'+${data.tableName}+'-button'"
                                                    class="btn btn-lg btn-success">Update
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="from-group">
                                            <button style="width: 100%;"
                                                    th:id="'data-structure-delete-'+${data.tableName}+'-button'"
                                                    class="btn btn-lg btn-danger">Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <th:block th:switch="${type}">
                                <th:block th:case="'tables'">
                                    <form th:action="${@environment.getProperty('route.dropTable')}" method="post"
                                          th:id="'delete-tables-form'">
                                        <input type="hidden" name="table" id="delete-tables-name-input"/>
                                    </form>
                                </th:block>
                                <th:block th:case="'views'">
                                    <form th:action="${@environment.getProperty('route.dropView')}" method="post"
                                          th:id="'delete-views-form'">
                                        <input type="hidden" name="view" id="delete-views-name-input"/>
                                    </form>
                                </th:block>
                                <th:block th:case="'types'">
                                    <form th:action="${@environment.getProperty('route.dropType')}" method="post"
                                          th:id="'delete-types-form'">
                                        <input type="hidden" name="type" id="delete-types-name-input"/>
                                    </form>
                                </th:block>
                            </th:block>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>