<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="data-row(data)" id="show-data-row-div">
    <div class="row">
        <div class="col-md">
            <div class="panel panel-modal-style">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <div class="active" id="show-data-row-form-link">
                                <strong th:text="${data.tableName} + ' - row'"></strong>
                                <!--<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right"-->
                                      <!--th:title="#{database.keyspaces.tableContent.showRow.topInfo}"></span>-->
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 1em;" class="alert alert-info" th:text="#{database.keyspaces.tableContent.showRow.topInfo}"></p>
                            <form id="show-data-row-form"
                                  th:action="${@environment.getProperty('route.updateDeleteRowContent')}" method="post"
                                  role="form">
                                <input type="hidden" name="tableName" th:value="${data.tableName}"/>
                                <th:block th:each="column:${data.columnDefinitions}">
                                    <th:block th:each="mapColumn:${keyspaceContent.columns.content}">
                                        <th:block
                                                th:if="${mapColumn.get('column_name') == column.name && mapColumn.get('table_name') == data.tableName}">
                                            <hr/>
                                            <div class="row row-eq-height">
                                                <div class="col-sm-5">
                                                    <ul class="list-group">
                                                        <li class="list-group-item text-right" style="overflow: auto">
                                                        <span class="pull-left">
                                                            <strong>Name</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('column_name')}"></span>
                                                        </li>
                                                        <li class="list-group-item text-right" style="overflow: auto">
                                                        <span class="pull-left">
                                                            <strong>Type</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('type')}"></span>
                                                        </li>
                                                        <li class="list-group-item text-right">
                                                        <span class="pull-left">
                                                            <strong>Kind</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('kind')}"></span>
                                                        </li>
                                                        <li class="list-group-item text-right"
                                                            th:if="${mapColumn.get('position') != -1}">
                                                        <span class="pull-left">
                                                            <strong>Position</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('position')}"></span>
                                                        </li>
                                                        <li class="list-group-item text-right"
                                                            th:if="${mapColumn.get('clustering_order') != 'none'}">
                                                        <span class="pull-left">
                                                            <strong>Clustering Order</strong>
                                                        </span>
                                                            <span th:text="${mapColumn.get('clustering_order')}"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-7" style="overflow: auto" th:with="message=#{database.keyspaces.tableContent.showRow.textareaPlaceholder}">
                                                    <textarea class="form-control"
                                                              th:name="${mapColumn.get('column_name')+'_readonly'}"
                                                              readonly rows="3"></textarea>
                                                    <textarea class="form-control" rows="3"
                                                              th:if="${key.access != member}"
                                                              th:name="${mapColumn.get('column_name')}"
                                                              th:readonly="${mapColumn.get('kind') != 'regular'}"
                                                              th:placeholder="${mapColumn.get('kind') == 'regular' ? message  : 'Partition key and clustering key cannot be update!'}"
                                                    ></textarea>
                                                </div>
                                            </div>
                                            <hr/>
                                        </th:block>
                                    </th:block>
                                </th:block>
                                <input type="hidden" name="requestType" id="request-type"/>
                                <div class="row" th:if="${key.access != member}">
                                    <div class="col-sm-6">
                                        <div class="from-group">
                                            <button style="width: 100%;" id="data-row-update-button"
                                                    class="btn btn-lg btn-success">Update
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div clas="form-group">
                                            <button style="width: 100%;" id="data-row-delete-button"
                                                    class="btn btn-lg btn-danger">Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>