<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="data-tables" class="row">
        <table class="table table-striped table-bordered text-center" id="keyspace-data-tables">
            <thead>
            <tr>
                <th scope="col" class="text-center" data-col="table_name">table_name</th>
                <th scope="col" class="text-center" data-col="bloom_filter_fp_chance">bloom_filter_fp_chance</th>
                <th scope="col" class="text-center" data-col="caching">caching</th>
                <th scope="col" class="text-center" data-col="cdc">cdc</th>
                <th scope="col" class="text-center" data-col="comment">comment</th>
                <th scope="col" class="text-center" data-col="compaction">compaction</th>
                <th scope="col" class="text-center" data-col="compression">compression</th>
                <th scope="col" class="text-center" data-col="crc_check_chance">crc_check_chance</th>
                <th scope="col" class="text-center" data-col="dclocal_read_repair_chance">dclocal_read_repair_chance
                </th>
                <th scope="col" class="text-center" data-col="default_time_to_live">default_time_to_live</th>
                <th scope="col" class="text-center" data-col="extensions">extensions</th>
                <th scope="col" class="text-center" data-col="flags">flags</th>
                <th scope="col" class="text-center" data-col="gc_grace_seconds">gc_grace_seconds</th>
                <th scope="col" class="text-center" data-col="id">id</th>
                <th scope="col" class="text-center" data-col="max_index_interval">max_index_interval</th>
                <th scope="col" class="text-center" data-col="memtable_flush_period_in_ms">memtable_flush_period_in_ms
                </th>
                <th scope="col" class="text-center" data-col="min_index_interval">min_index_interval</th>
                <th scope="col" class="text-center" data-col="read_repair_chance">read_repair_chance</th>
                <th scope="col" class="text-center" data-col="speculative_retry">speculative_retry</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="table:${keyspaceContent.tables}">
                <tr>
                    <td th:text="${table.table_name}"></td>
                    <td th:text="${table.bloom_filter_fp_chance}"></td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item text-right"
                                th:each="cachingMap:${table.caching}">
                                                    <span class="pull-left">
                                                        <strong th:text="${cachingMap.key}"></strong>
                                                    </span>
                                <span th:text="${cachingMap.value}"></span>
                            </li>
                        </ul>
                    </td>
                    <td th:text="${table.cdc}"></td>
                    <td th:text="${table.comment}"></td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item text-right"
                                th:each="compactionMap:${table.compaction}">
                                                    <span class="pull-left">
                                                        <strong th:text="${compactionMap.key}"></strong>
                                                    </span>
                                <span th:text="${compactionMap.value}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item text-right"
                                th:each="compressionMap:${table.compression}">
                                                    <span class="pull-left">
                                                        <strong th:text="${compressionMap.key}"></strong>
                                                    </span>
                                <span th:text="${compressionMap.value}"></span>
                            </li>
                        </ul>
                    </td>
                    <td th:text="${table.crc_check_chance}"></td>
                    <td th:text="${table.dclocal_read_repair_chance}"></td>
                    <td th:text="${table.default_time_to_live}"></td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item text-right"
                                th:each="extensionsMap:${table.extensions}">
                                                    <span class="pull-left">
                                                        <strong th:text="${extensionsMap.key}"></strong>
                                                    </span>
                                <span th:text="${extensionsMap.value}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item"
                                th:each="extensionsSet:${table.flags}">
                                <span th:text="${extensionsSet}"></span>
                            </li>
                        </ul>
                    </td>
                    <td th:text="${table.gc_grace_seconds}"></td>
                    <td th:text="${table.id}"></td>
                    <td th:text="${table.max_index_interval}"></td>
                    <td th:text="${table.memtable_flush_period_in_ms}"></td>
                    <td th:text="${table.min_index_interval}"></td>
                    <td th:text="${table.read_repair_chance}"></td>
                    <td th:text="${table.speculative_retry}"></td>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>