<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="content-form(viewName,tableName)">
    <form th:action="${@environment.getProperty('route.getDatabaseContent')}">
        <input type="hidden" name="view" th:value="${viewName}"/>
        <input type="hidden" name="table" th:value="${tableName}"/>
        <input type="submit" value="Content" class="btn btn-info"/>
    </form>
</div>
<div th:fragment="structure-form(viewName,tableName)">
    <form th:action="${@environment.getProperty('route.getDatabaseContent')}">
        <input type="hidden" name="view" th:value="${viewName}"/>
        <input type="hidden" name="table" th:value="${tableName}"/>
        <input type="submit" value="Structure" class="btn btn-primary"/>
    </form>
</div>
<div th:fragment="delete-form(viewName,tableName)">
    <form th:action="${@environment.getProperty('route.getDatabaseContent')}">
        <input type="hidden" name="view" th:value="${viewName}"/>
        <input type="hidden" name="table" th:value="${tableName}"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
    </form>
</div>

</body>
</html>