<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="database-import-export" id="import-export-div">
    <div class="container">
        <div class="alert alert-success" th:if="${keyspaceImportExportSuccess}"
             th:text="${keyspaceImportExportSuccess}"></div>
        <div class="alert alert-danger" th:if="${keyspaceImportExportError}"
             th:text="${keyspaceImportExportError}"></div>
        <hr/>
        <div class="jumbotron database-data-div">
            <p style="float:left; font-size: 1.75em;" class="font-weight-bold"><strong>Backup entire keyspace to JSON</strong></p>
            <span style="float:right;" class="glyphicon glyphicon-minus btn btn-default keyspace-manage-minus"></span>
            <br style="clear:both;">
            <div class="row">
                <div class="col-sm-12">
                    <form th:action="${@environment.getProperty('route.export[json-keyspace]')}" id="export-json-keyspace-form">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-success">Export to JSON</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="jumbotron database-data-div">
            <p style="float:left; font-size: 1.75em;" class="font-weight-bold"><strong>Export Table/View to Excel</strong></p>
            <span style="float:right;" class="glyphicon glyphicon-minus btn btn-default keyspace-manage-minus"></span>
            <br style="clear:both;">
            <div class="row">
                <div class="col-sm-12">
                    <form th:action="${@environment.getProperty('route.export[excel-table-view]')}" id="export-excel-form">
                        <div class="form-group">
                            <select class="form-control" name="tableName" id="export-excel-select-table"></select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-success">Export to Excel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="jumbotron database-data-div">
            <p style="float:left; font-size: 1.75em;" class="font-weight-bold"><strong>Export Table/View to JSON</strong></p>
            <span style="float:right;" class="glyphicon glyphicon-minus btn btn-default keyspace-manage-minus"></span>
            <br style="clear:both;">
            <div class="row">
                <div class="col-sm-12">
                    <form th:action="${@environment.getProperty('route.export[json-table-view]')}" id="export-json-form">
                        <div class="form-group">
                            <select class="form-control" name="tableName" id="export-json-select-table"></select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-success">Export to JSON</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>