.menu-navbar {
    margin-bottom: 5px;
}

.keyspace-panel {
    width: 22%;
    height: 90vh;
    min-height: 70vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #182645;
    float: left;
    box-sizing: border-box;
    margin: 0 0 0 0.5%;
}

.keyspace-panel-body {
    word-wrap: break-word;
}

.panel > .panel-heading {
    background-color: #182645;
    color: white;
    word-wrap: break-word;
}

.arrow-left-button {
    padding: 0;
    font-size: 1em;
    float: right;
    border: 1px solid white;
    width: 12%;
}

/*.arrow-right-button {*/
/*padding: 0;*/
/*margin: 0;*/
/*border: 1px solid white;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

.database-panel {
    margin: 0;
    width: 77%;
    height: 90vh;
    float: left;
    border: 2px solid #182645;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.database-panel-heading {
    padding: 0;
}

.keyspace-panel-heading {
    padding: 8px;
}

.database-navbar {
    margin: 0 15px 0 0;
    background-color: transparent;
    height: auto;
    min-height: 35px;
}

.database-navbar-nav > li a {
    padding-bottom: 5px;
    padding-top: 5px;
    box-sizing: border-box;
}

.database-navbar-nav > li:hover a {
    border: 1px solid white;
    background-color: transparent;
}

.database-navbar-nav > li.active {
    background-color: #888888;
}

.mini-keyspace {
    width: 3%;
    height: 90vh;
    border: 3px solid #182645;
    float: left;
    box-sizing: border-box;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: center;
    background-color: #182645;
    color: white;
    display: none;
    overflow: hidden;
    margin: 0 0 0 0.5%;
    word-wrap: break-word;
    font-size: 1.5em;
    cursor: pointer;
}

/*TREE MENU START*/

ul.nav-menu-list-style .nav-header .menu-collapsible-icon {
    position: absolute;
    right: 3%;
    top: 15px;
    font-size: 9px;
}

ul.nav-menu-list-style {
    margin: 0;
}

ul.nav-menu-list-style .nav-header {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    margin: 0;
    line-height: 42px;
    padding: 0 8px;
    font-weight: 600;
}

ul.nav-menu-list-style > li {
    position: relative;
}

ul.nav-menu-list-style > li a {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 20px;
    line-height: 32px;
}

ul.nav-menu-list-style > li:first-child a {
}

ul.nav-menu-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.nav-menu-list-style li .badge, ul.nav-menu-list-style li .pull-right, ul.nav-menu-list-style li span.badge, ul.nav-menu-list-style li label.badge {
    float: right;
    margin-top: 7px;
}

/*TREE MENU STOP*/