.menu-navbar {
    margin-bottom: 5px;
}

.keyspace-panel {
    width: 22%;
    height: 90vh;
    min-height: 70vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #182645;
    float: left;
    box-sizing: border-box;
    margin: 0 0 0 0.5%;
}

.keyspace-panel-body {
    word-wrap: break-word;
}

.panel > .panel-heading {
    background-color: #182645;
    color: white;
    word-wrap: break-word;
}

.arrow-left-button {
    padding: 0;
    font-size: 1em;
    float: right;
    border: 1px solid white;
    width: 12%;
}

/*.arrow-right-button {*/
/*padding: 0;*/
/*margin: 0;*/
/*border: 1px solid white;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

.database-panel {
    margin: 0;
    width: 77%;
    height: 90vh;
    float: left;
    border: 2px solid #182645;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.database-panel-heading {
    padding: 0;
}

.keyspace-panel-heading {
    padding: 8px;
}

.database-navbar {
    margin: 0 15px 0 0;
    background-color: transparent;
    height: auto;
    min-height: 35px;
}

.database-navbar-nav > li a {
    padding-bottom: 5px;
    padding-top: 5px;
    box-sizing: border-box;
}

.database-navbar-nav > li:hover a {
    border: 1px solid white;
    background-color: transparent;
}

.database-navbar-nav > li.active {
    background-color: #888888;
}

.mini-keyspace {
    width: 3%;
    height: 90vh;
    border: 3px solid #182645;
    float: left;
    box-sizing: border-box;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: center;
    background-color: #182645;
    color: white;
    display: none;
    overflow: hidden;
    margin: 0 0 0 0.5%;
    word-wrap: break-word;
    font-size: 1.5em;
    cursor: pointer;
}

/*TREE MENU START*/

ul.nav-menu-list-style .nav-header .menu-collapsible-icon {
    position: absolute;
    right: 3%;
    top: 15px;
    font-size: 9px;
}

ul.nav-menu-list-style .nav-header .glyphicon-warning-sign {
    color: red;
    font-size: 1em;
!important;
}

ul.nav-menu-list-style {
    margin: 0;
}

ul.nav-menu-list-style .nav-header {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    margin: 0;
    line-height: 42px;
    padding: 0 8px;
    font-weight: 600;
    cursor: hand;
!important;
}

ul.nav-menu-list-style > li {
    position: relative;
}

ul.nav-menu-list-style > li a {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 20px;
    line-height: 32px;
}

ul.nav-menu-list-style > li:first-child a {
}

ul.nav-menu-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.nav-menu-list-style li .badge, ul.nav-menu-list-style li .pull-right, ul.nav-menu-list-style li span.badge, ul.nav-menu-list-style li label.badge {
    float: right;
    margin-top: 7px;
}

/*TREE MENU STOP*/

.keyspace-inactive-panel-body {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/*CREATE/CONNECT KEYSPACE START*/

.panel-create-keyspace, .panel-connect-keyspace {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-create-keyspace > .panel-heading, .panel-connect-keyspace > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-create-keyspace > .panel-heading div, .panel-connect-keyspace > .panel-heading div {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-create-keyspace > .panel-heading div.active, .panel-connect-keyspace > .panel-heading div.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-create-keyspace > .panel-heading hr, .panel-connect-keyspace > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-create-keyspace input[type="text"], .panel-create-keyspace input[type="email"], .panel-create-keyspace input[type="password"], .panel-connect-keyspace input[type="text"], .panel-connect-keyspace input[type="email"], .panel-connect-keyspace input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-create-keyspace input:hover,
.panel-create-keyspace input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-create-keyspace {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-create-keyspace:hover,
.btn-create-keyspace:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

/*CREATE KEYSPACE STOP*/

