<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block>
        <!--Custom stylesheets-->
        <link th:rel="stylesheet" th:href="@{/css/my-database.css}"/>

        <!--Custom scripts-->
        <script th:src="@{/js/my-database.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var searchUserLiveUrl = /*[[${@environment.getProperty('route.searchUserLive')}]]*/ 'url'
            /*]]>*/
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="database-container">
        <th:block th:replace="fragments/my_database_fragments/keyspaces-bar :: keyspaces-bar"></th:block>
        <th:block th:replace="fragments/my_database_fragments/database :: database"></th:block>
    </div>
    <br style="clear:both">
</div>
<th:block layout:fragment="scripts">
    <script th:inline="javascript" th:if="${createKeyspaceError}">
        $("#create-keyspace-modal").modal("show");
    </script>
    <script th:inline="javascript" th:if="${connectKeyspaceError}">
        alert(/*[[${connectKeyspaceError}]]*/ 'Access denied!');
    </script>
    <!--if is not keyspace active-->
    <script th:inline="javascript" th:if="${session.userKeyspace == null}">
        // go to level 1 of the keyspaces tree
        $('.tree-toggle').parent().children('ul.tree').toggle();
    </script>
    <script th:inline="javascript" th:if="${session.userKeyspace}">
        $('.tree-toggle').parent().children('ul.tree').toggle();
        var name = /*[[${session.userKeyspace.getName()}]]*/ null;
        var creator = /*[[${session.userKeyspace.getCreatorName()}]]*/ null;
        $("#creator-list-"+creator).toggle(200);
        $("#keyspaces-list-"+creator+"_"+name).toggle(200);
    </script>
</th:block>
</body>
</html>