<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<nav th:fragment="database-navbar" class="navbar database-navbar" th:with="key=${session.userKeyspace}">
    <form th:action="${@environment.getProperty('route.change[databasePanel]')}" method="get" id="panel-form">
        <input type="hidden" name="panel" id="panel-input">
    </form>
    <ul class="nav navbar-nav database-navbar-nav">
        <li>
            <a class="database-menu-link" data-panel="ManagePanel"
               th:href="${@environment.getProperty('route.myDatabaseManage')}">
                <span th:if="${creator == key.access || admin == key.access}">Manage</span>
                <span th:if="${editor == key.access || member == key.access}">Info</span>
            </a>
        </li>
        <li>
            <a class="database-menu-link" data-panel="ViewEditPanel"
               th:href="${@environment.getProperty('route.myDatabaseViewEdit')}">
                <span th:if="${member == key.access}">View</span>
                <span th:unless="${member == key.access}">View/Edit</span>
            </a>
        </li>
        <li th:unless="${member == key.access}">
            <a class="database-menu-link" data-panel="ConsoleScriptPanel"
               th:href="${@environment.getProperty('route.myDatabaseConsoleScript')}">Console/Script</a>
        </li>
        <li>
            <a class="database-menu-link" data-panel="ImportExportPanel"
               th:href="${@environment.getProperty('route.myDatabaseImportExport')}">Export</a>
        </li>

    </ul>
    <ul class="nav navbar-nav navbar-right database-navbar-nav">
        <li th:if="${creator == key.access || admin == key.access}">
            <a class="database-menu-link" data-panel="LogPanel" th:href="${@environment.getProperty('route.myDatabaseLog')}">Log</a>
        </li>
        <li>
            <a class="database-menu-link" data-panel="SearchPanel"
               th:href="${@environment.getProperty('route.myDatabaseSearch')}">Search</a>
        </li>
    </ul>
</nav>
</body>
</html>