<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<th:block th:fragment="database">
    <div class="keyspace-active" th:if="${session.userKeyspace}">
        <div class="panel panel-default database-panel" th:with="key=${session.userKeyspace},systemSchemaContent=${session.systemSchemaContent}">
            <div class="panel-heading database-panel-heading">
                <th:block th:replace="fragments/my_database_fragments/database-navbar :: database-navbar"></th:block>
            </div>
            <div class="panel-body panel-resizable database-panel-body">
                <th:block th:switch="${session.activePanel}">
                    <th:block th:case="${@environment.getProperty('keyspace.panel[viewEdit]')}">
                        <th:block
                                th:replace="fragments/my_database_fragments/menu/database-view-edit :: database-view-edit">
                        </th:block>
                    </th:block>
                    <th:block th:case="${@environment.getProperty('keyspace.panel[consoleScript]')}">
                        <th:block
                                th:replace="fragments/my_database_fragments/menu/database-console-script :: database-console-script">
                        </th:block>
                    </th:block>
                    <th:block th:case="${@environment.getProperty('keyspace.panel[importExport]')}">
                        <th:block
                                th:replace="fragments/my_database_fragments/menu/database-import-export :: database-import-export">
                        </th:block>
                    </th:block>
                    <th:block th:case="${@environment.getProperty('keyspace.panel[log]')}">
                        <th:block
                                th:replace="fragments/my_database_fragments/menu/database-log :: database-log">
                        </th:block>
                    </th:block>
                    <th:block th:case="${@environment.getProperty('keyspace.panel[search]')}">
                        <th:block th:replace="fragments/my_database_fragments/menu/database-search :: database-search">
                        </th:block>
                    </th:block>
                    <th:block th:case="*">
                        <th:block th:replace="fragments/my_database_fragments/menu/database-manage :: database-manage">
                        </th:block>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
    </div>
    <!--if it is not an active keyspace, hide the menu-->
    <div class="keyspace-inactive" th:if="${session.userKeyspace} == null">
        <div class="panel panel-default database-panel">
            <div class="panel-heading database-panel-heading">
                <nav class="navbar database-navbar"></nav>
            </div>
            <div class="panel-body panel-resizable keyspace-inactive-panel-body">
                <span th:text="#{database.keyspaces.inactive}"></span>
            </div>
        </div>
    </div>
    <!--change the width of the database panel by the position of the keyspaces bar-->
    <script th:inline="javascript" th:if="${session.myKeyspacesPanelPosition == 'close'}">
        $(".database-panel").css("width", "96%");
    </script>
    <script th:inline="javascript" th:if="${session.myKeyspacesPanelPosition == 'open'}">
        $(".database-panel").css("width", "77%");
    </script>
</th:block>
</body>
</html>