<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="keyspaces-bar" th:with="keyspaces=${#authentication.getPrincipal().getKeyspaces()}">
    <div class="panel panel-default keyspace-panel">
        <div class="panel-heading keyspace-panel-heading">
            <span class="keyspace-panel-heading-span">My Keyspaces</span>
            <div class="btn btn-secondary arrow-left-button">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </div>
        </div>
        <div class="panel-body panel-resizable keyspace-panel-body">
            <ul class="nav nav-list nav-menu-list-style" th:with="currentUserName=${#authentication.getPrincipal().getUser().getUserName()}">
                <li>
                    <label class="tree-toggle nav-header">
                        <span class="glyphicon glyphicon-user"></span>
                        <span th:text="${currentUserName}"></span>
                        <span class="menu-collapsible-icon glyphicon glyphicon-chevron-down"></span>
                    </label>
                    <ul class="nav nav-list tree bullets">
                        <th:block th:if="${keyspaces.get(currentUserName) == null || #lists.isEmpty(keyspaces.get(currentUserName))}">
                            <li>
                                <label class="tree-toggle nav-header tree-level-two" th:text="#{database.keyspaces.nokeyspaces}"></label>
                            </li>
                        </th:block>
                        <th:block th:each="keyspace : ${keyspaces.get(currentUserName)}">
                            <li>
                                <label class="tree-toggle nav-header tree-level-two" th:text="${keyspace.getName()}"></label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Connect</a></li>
                                    <li><a href="#">Info</a></li>
                                </ul>
                            </li>
                        </th:block>
                    </ul>
                </li>
                <li class="divider"></li>
                <th:block th:each="map : ${keyspaces}">
                    <th:block th:if="${map.key} != ${currentUserName}">
                    </th:block>
                    <li>
                        <label class="tree-toggle nav-header">
                            <span class="glyphicon glyphicon-user"></span>
                            <span th:text="${map.key}"></span>
                            <span class="menu-collapsible-icon glyphicon glyphicon-chevron-down"></span>
                        </label>
                        <ul class="nav nav-list tree bullets">
                            <th:block th:if="${map.value == null || #lists.isEmpty(map.value)}">
                                <li>
                                    <label class="tree-toggle nav-header tree-level-two" th:text="#{database.keyspaces.nokeyspaces}"></label>
                                </li>
                            </th:block>
                            <th:block th:each="keyspace : ${map.value}">
                                <li>
                                    <label class="tree-toggle nav-header tree-level-two" th:text="${keyspace.getName()}"></label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Connect</a></li>
                                        <li><a href="#">Info</a></li>
                                    </ul>
                                </li>
                            </th:block>
                        </ul>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
    <div class="mini-keyspace">
            <span class="mini-keyspace-span">
                My keyspaces
            </span>
    </div>
</th:block>
</body>
</html>